*{
	font-family: 'Lobster', cursive;
	font-weight: 100;
	font-size: 40px;
}body {
  background-color: rebeccapurple;
  font-size: 50px;
  color: yellow;
}

h1 {
  color: yellowgreen;
  text-align: center;
}

h2 {
  color: greenyellow;
  text-align: center;
}
p {
  font-family: verdana;
  font-size: 20px;
}
.caja-fixed{
	background:red ;
	position: fixed;
	opacity: .1;
	margin:-100px ;
}

div {
  background-color: lightgrey;
  width:1220px;
  border: 15px solid green;
  padding: 50px;
  margin-left: 0px;
}
